[Desktop Entry]
Name=LilacProxy
Exec=sh /home/lilac/gr-dslwp/examples/DSLWP-Downlink-Proxy/launch.sh
Icon=/home/lilac/gr-dslwp/examples/DSLWP-Downlink-Proxy/logo/mun_icon.ico
Terminal=false
Type=Application
Name[en_US]=dslwp_proxy.desktop
